.textarea {
    display: block;
    width: 50%;
    height: 300px;
    border: 1px solid grey;
    margin: 20px auto;
}

table td {
    border: 1px solid grey;
}

.keyboard {
    display: block;
    width: 750px;
    height: 250px;
    border: 1px solid rgb(154, 156, 156);
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(154, 156, 156);
    border-radius: 0.3em;
}

.row {
    height: 50px;
}

.button {
    width: 40px;
    height: 40px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background-color: rgb(44, 54, 51);
    color: white;
    margin: 5px;
    border-radius: 0.3em;
    text-align: center;
    line-height: 40px;
    float: left;
    cursor: pointer;
}

.button.active, .button:hover {
    background: cornflowerblue;
}
